* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 400px;
  padding: 1rem;
  background-color: aquamarine;
}

.row {
  display: flex;
  height: 50%;
  background-color: brown;
}

.first-row {
  justify-content: space-between;
  gap: 0.5rem;
}

.second-row {
  flex-direction: column;
  gap: 0.5rem;
}
.list {
  list-style: none;
}
.list .list-item {
  background-color: lightcoral;
}
.list .button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  border: none;
  text-align: left;
  cursor: pointer;
}

.list-item-text {
  flex-grow: 1;
}
.list .button > * {
  background-color: cornflowerblue;
}

.col {
  background-color: purple;
}
.col-first {
  /* flex-grow: 1; */
  width: 80%;
  background-color: azure;
}

.col img {
  width: 100px;
}