* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  border: 1px solid #6d6b6b;
  border-radius: 1rem;
  overflow: hidden;
}

.row {
  display: flex;
}

.first-row {
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
}

.second-row {
  flex-direction: column;
  gap: 0.5rem;
}
.list {
  list-style: none;
}

.list .button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.list .button:hover,
.list .button:active,
.list .button:focus {
  background-color: lightgray;
}
.list .list-item-text {
  flex-grow: 1;
}

.list .list-item-status {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.list i {
  font-size: 1.5rem;
}

/* .list .button > * {
  background-color: cornflowerblue;
} */

.col-first {
  /* flex-grow: 1; */
  width: 80%;
}

.col img {
  width: 100px;
}