* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 400px;
  padding: 1rem;
  background-color: aquamarine;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 50%;
  background-color: brown;
}

.col {
  background-color: purple;
}
.col-first {
  /* flex-grow: 1; */
  width: 80%;
  background-color: azure;
}

.col img {
  width: 100px;
}